# wordle-spoiler

<details>
  <summary>Click to reveal **today's** word!</summary>
  ## {{today}}
</details>

<details>
  <summary>Click to reveal **tomorrow's** word!</summary>
  ## {{tomorrow}}
</details>

<details>
  <summary>Click to reveal **yesterday's** word!</summary>
  ## {{yesterday}}
</details>