# wordle-spoiler

<details>
  <summary>Click to reveal <b>today's</b> word!</summary>
  <br>
  <b> {{today}} </b>
</details>

<details>
  <summary>Click to reveal <b>tomorrow's</b> word!</summary>
  <br>
  <b> {{tomorrow}} </b>
</details>

<details>
  <summary>Click to reveal <b>yesterday's</b> word!</summary>
  <br>
  <b> {{yesterday}} </b>
</details>

* Note: These spoilers are based on EST time-zone. The wordle puzzle solutions are generated according to your local time zone.